* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    font-family: 'Righteous', cursive;
    box-sizing: border-box;
  }
  
  html{
      font-size: 62.5%;
  }

  @media(max-width: 2560px) {
    html {
      font-size: 65%;
    }
  }
  
  @media(max-width: 1600px) {
    html {
      font-size: 65%;
    }
  }
  
  @media(max-width: 1200px) {
    html {
      font-size: 32%;
    }
    .logoclass{
        display:none;
    }
  }
  
  @media(max-width: 768px) {
    html {
      font-size: 35%;
    }
    .logoclass {
        display:none;
    }
  }
  
  @media(max-width: 450px) {
    html {
      font-size: 25.0%;
    }
    .logoclass {
        display:none;
    }
  }
  
  @media(max-width: 390px) {
    html {
      font-size: 21.5%;
    }
    .logoclass {
        display:none;
    }
  }
  
  @media(max-width: 320px) {
    html {
      font-size: 21.5%;
    }
    .logoclass {
        display:none;
    }
  }

  body{
      min-height: 100vh;
      max-width: 100vw;
      background:black;
  }

  .navigation{
      position: fixed;
      width: 5.5rem;
      height: 100vh;
      background:#3e0748;
      transition: 0.6s;
      z-index: 5;
  }

  .navigation:hover{
      width: 21rem;
  }

  .navigation ul{
      position: absolute;
      top: 2rem;
      left: 0;
      width: 90rem;
  }

  .navigation ul li{
      position: relative;
      width: 100rem;
      list-style: none;
      margin-top: 5rem;
  }

  .navigation ul li a{
      position: relative;
      display: block;
      width: 100rem;
      display: flex;
      text-decoration: none;
      color: white;
      text-align: center;
  }

  .navigation ul li:hover{
    box-shadow: 0 0 1rem .3rem rgb(249, 13,84);
    border-bottom: .4rem solid transparent;
    border-top: .4rem solid transparent;
    transition: all 0.5s ease ;
    background: rgb(249, 13,84);
  }


  .navigation ul li a .icon{
      position: relative;
      display: block;
      min-width: 6rem;
      height: 3rem;
      text-align: center;
      color: white;
      line-height: 4.5rem;
      transition: all 0.5s ease;
      cursor: pointer;
      align-items: center;
  }

  .navigation ul li a .icon .fa{
      font-size: 2.0rem;
  }

  .navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 0.1rem;
    height: 3rem;
    text-align: center;
    color: white;
    line-height: 3rem;
    white-space: nowrap;
    font-size: 2.0rem;
    text-align: center;
    font-variant: small-caps;
    letter-spacing: .3rem;

}

.cur li a i {
    font-size: 18px;
    color: yellow;
}

section{
    height: 80rem;
}

section h1{
    position: absolute;
    color:#7FFF00;
    font-family: 'Benne', serif;
    text-align: center;
    margin: 0;
    padding: 0;
    top: 25rem;
    margin-left: -8.3rem;
    letter-spacing: 0.03rem;
    font-size: 7rem;
    text-shadow: .6rem .6rem rgb(249, 13,84);
    width: 125rem;
    transform: translateY(-50%);
}

h1 span{
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
}

@keyframes animate{
    0%{
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(1rem);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0rem);
    }
}

video{
    object-fit: cover;
    margin-bottom: -35rem;
    margin-left: 15rem;
}

h1 span:nth-child(1)
{
    animation-delay: 0.4s;
}

h1 span:nth-child(2)
{
    animation-delay: 1s;
}

h1 span:nth-child(3)
{
    animation-delay: 1.4s;
}

h1 span:nth-child(4)
{
    animation-delay: 1.8s;
}

h1 span:nth-child(5)
{
    animation-delay: 2.2s;
}

h1 span:nth-child(6)
{
    animation-delay: 2.6s;
}

h1 span:nth-child(7)
{
    animation-delay: 2.8s;
}

h1 span:nth-child(8)
{
    animation-delay: 3.2s;
}

h1 span:nth-child(9)
{
    animation-delay: 3.6s;
}

h1 span:nth-child(10)
{
    animation-delay: 4s;
}

h1 span:nth-child(11)
{
    animation-delay: 4.4s;
}

h1 span:nth-child(12)
{
    animation-delay: 4.8s;
}

h1 span:nth-child(13)
{
    animation-delay: 5.2s;
}

h1 span:nth-child(14)
{
    animation-delay: 5.6s;
}

h1 span:nth-child(15)
{
    animation-delay: 6s;
}

h1 span:nth-child(16)
{
    animation-delay: 6.4s;
}

h1 span:nth-child(17)
{
    animation-delay: 6.8s;
}

h1 span:nth-child(18)
{
    animation-delay: 7.2s;
}

h1 span:nth-child(19)
{
    animation-delay: 7.6s;
}

.textwrapper{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}

.textwrapper h1{
    position: absolute;
    color:#7FFF00;
    font-family: 'Benne', serif;
    text-align: center;
    margin: 0;
    padding: 0;
    top: 15rem;
    margin-left: -19rem;
    letter-spacing: 0.11rem;
    font-size: 6rem;
    text-shadow: .5rem .5rem rgb(249, 13,84);
    width: 100rem;
    transform: translateY(-50%);

}

.textwrapper h3{
    position: absolute;
    color:rgb(249, 13,84);
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    margin: 0;
    padding: 0;
    top: 33rem;
    margin-left: 3.8rem;
    letter-spacing: .5rem;
    font-size: 2rem;
    text-shadow: .2rem .2rem #7FFF00 ;
    width: 100rem;
    transform: translateY(-50%);
    
}

.button{
    margin-left: 27rem;
}

.button .btn{
    width: 20rem;
    height: 4rem;
    letter-spacing: .5rem;
    font-weight: 800;
    margin-top: 43rem;
    cursor:pointer;
    border-radius: 1rem;
    display: inline-block;
    color:#7FFF00;
    font-size: 2rem;
    transition: ease-out 0.3s;
    border: .3rem solid rgb(249, 13,84);
    outline: none;
    position: absolute;
    z-index: 1;
    background:rgba(255,255,255,.15);
}

.button .btn:hover{
    color: white;
    cursor: pointer;
}

.button .btn:before{
    transition: 0.5s all ease;
    position: absolute;
    top:0;
    left:50rem;
    right: 50rem;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: rgb(249, 13,84);
}

.button .btn:hover:before{
    transition: 0.5 all ease;
    left:0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

h3 span{
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
}

h3 span:nth-child(1)
{
    animation-delay: 0.4s;
}

h3 span:nth-child(2)
{
    animation-delay: 0.8s;
}

h3 span:nth-child(3)
{
    animation-delay: 1.2s;
}

h3 span:nth-child(4)
{
    animation-delay: 1.6s;
}

h3 span:nth-child(5)
{
    animation-delay: 2s;
}

h3 span:nth-child(6)
{
    animation-delay: 2.4s;
}

h3 span:nth-child(7)
{
    animation-delay: 2.8s;
}

h3 span:nth-child(8)
{
    animation-delay: 3.2s;
}

h3 span:nth-child(9)
{
    animation-delay: 3.6s;
}

h3 span:nth-child(10)
{
    animation-delay: 4.0s;
}

h3 span:nth-child(11)
{
    animation-delay: 4.4s;
}

h3 span:nth-child(12)
{
    animation-delay: 4.8s;
}

h3 span:nth-child(13)
{
    animation-delay: 5.0s;
}

h3 span:nth-child(14)
{
    animation-delay: 5.2s;
}

h3 span:nth-child(15)
{
    animation-delay: 5.4s;
}

h3 span:nth-child(16)
{
    animation-delay: 5.6s;
}

h3 span:nth-child(17)
{
    animation-delay: 5.8s;
}

h3 span:nth-child(18)
{
    animation-delay: 6s;
}

h3 span:nth-child(19)
{
    animation-delay: 6.2s;
}

h3 span:nth-child(20)
{
    animation-delay: 6.4s;
}

h3 span:nth-child(21)
{
    animation-delay: 6.8s;
}


.connect{
    display: grid;
    place-items: center;
    height: 9rem;
    width: 100vw;
    margin-top:-25rem; 
    margin-left: -31rem; 
}

.connect ul{
    display: flex;
    list-style: none;
    align-items: center;
    text-align: center;
}

.connect ul li{
    position: relative;
    display: block;
   font-size: 2rem;
   height: 4rem;
   width: 4rem;
   background:#302d2d;
   line-height: 4.7rem;
   border-radius: 50rem;
   margin: 0 1.5rem;
   cursor: pointer;
}

#insta:hover{
    color: rgb(249, 13,84);
}
 #whatsapp:hover{
     color: #32CD32;
 }
 #git:hover{
     color:gray;
 }
 #fb:hover{
     color: blue;
 }
/*#ld:hover{
    color: #4169E1;
}
#twitter:hover{
    color: cornflowerblue;
}*/

.logoclass{
    position:absolute;
    width:65rem;
    height:60rem;
    margin-left:70rem;
    margin-top:-8rem;
    object-fit: contain;
}

