* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bona Nova", serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: 62.5%;
}

@media (max-width: 2560px) {
  html {
    font-size: 65%;
  }
  footer {
    height: 35rem;
  }
  .gallery {
    padding: 18rem;
  }
}

@media (max-width: 1600px) {
  html {
    font-size: 65%;
  }
  footer {
    height: 35rem;
  }
  .gallery {
    padding: 12rem 18rem 10rem 18rem;
  }
  .container .sec {
    flex-basis: 50%;
    padding:0rem 2rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }
  footer {
    height: 35rem;
  }
  .gallery {
    padding: 8rem 6rem 6rem 12rem;
  }
  /* .portfolio-items img {
        padding: 1rem;
    } */
  .container .sec {
    flex-basis: 50%;
    padding: 0rem 2rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 43%;
  }
  footer {
    height: 35rem;
  }
  .gallery {
    padding: 8rem 1rem 8rem 1rem;
  }
  /* .portfolio-items .item {
        padding: 3rem;
    } */
  .container .sec {
    flex-basis: 50%;
    padding: 0rem 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 25%;
  }
  footer {
    height: 50rem;
  }
  .gallery {
    padding: 8rem 4rem 9rem 6rem;
  }
  /* .portfolio-items .item img{
        width: 99%;
        height:auto;
    } */
  .container .sec {
    flex-basis: 50%;
    padding: 1rem 2rem;
  }
}

@media (max-width: 390px) {
  html {
    font-size: 25%;
  }
  footer {
    height: 50rem;
  }
  .gallery {
    padding: 8rem 4rem 3rem 3rem;
  }
  .portfolio-items img {
    width: 97%;
    height: auto;
  }
  .container .sec {
    flex-basis: 50%;
    padding: 1rem 2rem;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 21.5%;
  }
  footer {
    height: 50rem;
  }
  .gallery {
    padding: 8rem 5rem 9rem 3rem;
  }
  .portfolio-items img {
    width: 100%;
    height: auto;
  }
  .container .sec {
    flex-basis: 50%;
    padding: 1rem 2rem;
  }
}

body {
  min-height: 100rem;
}

nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: "Montserrat", sans-serif;
  padding: 0 5%;
  height: 100px;
  background: rgb(2, 52, 95);
}
nav .logo {
  float: left;
  width: auto;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-self: flex-start;
}
nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .links li {
  list-style: none;
}
nav .links a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 600;
  margin-left: 2.5rem;
  transition: all 0.3s ease;
  display: block;
  padding: 1em;
  text-decoration: none;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}
nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  nav .logo {
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 4rem;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(2, 52, 95, 0.8);
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }
  nav .links a {
    font-size: 20px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}

p {
  font-weight: 500;
  color: wheat;
}

.banner {
  position: relative;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url("/images/bg.jpg");
  background-size: cover;
  display: flex;
}

.banner .content {
  max-width: 90rem;
  text-align: center;
  display: block;
}

.banner .content span {
  color: wheat;
}
.banner .content .text1 {
  font-size: 5rem;
  letter-spacing: 0.8rem;
  color: wheat;
  /* animation: text 3s 1; */
}

.banner .content .text2 {
  font-size: 2rem;
  /* margin: 1.5rem; */
  color: wheat;
  letter-spacing: 0.4rem;
  /* animation: texts 3s 1; */
}

.banner .content .text3 {
  font-size: 2.5rem;
  /* margin: 2rem; */
  letter-spacing: 0.3rem;
  color: wheat;
  /* animation: texting 3s 1; */
}

/* @keyframes text {
      0%{
          color: black;
          margin-bottom: -4rem;
      }
      30%{
          letter-spacing: 1.2rem;
          margin-bottom: -4rem;
      }
      85%{
          letter-spacing: .8rem;
          margin-bottom: -4rem;
      }
  }
  
  @keyframes texts {
      0%{
          color: black;
          margin-bottom: -4rem;
      }
      30%{
          letter-spacing: 0.5rem;
          margin-bottom: -4rem;
      }
      85%{
          letter-spacing: .4rem;
          margin-bottom: -4rem;
      }
  }
  
  @keyframes texting {
      0%{
          color: black;
          margin-bottom: -4rem;
      }
      30%{
          letter-spacing: 0.4rem;
          margin-bottom: -4rem;
      }
      85%{
          letter-spacing: .3rem;
          margin-bottom: -4rem;
      }
  } */

.btn {
  font-size: 2rem;
  text-decoration: none;
  color: #000000;
  background: #ff0157;
  padding: 0.8rem 2.5rem;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-top: 1rem;
  transition: 0.5s;
  animation: anime 1s 1;
}

.btn:hover {
  letter-spacing: 0.6rem;
  color: #fff;
}

@keyframes anime {
  0% {
    color: black;
    margin-bottom: -2rem;
  }
  30% {
    letter-spacing: 0.4rem;
    margin-bottom: -2rem;
  }
  85% {
    letter-spacing: 0.3rem;
    margin-bottom: -2rem;
  }
}

::-webkit-scrollbar {
  width: 0;
}

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 1rem;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 1rem;
  height: 100%;
  background: rgb(2, 52, 95);
  z-index: 10000;
  animation: animate 5s linear infinite;
}

#progressbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(2, 52, 95);
  filter: blur(0.6rem);
}

#progressbar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(2, 52, 95);
  filter: blur(0.6rem);
}

.videos{
  padding:10rem;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2.5rem;
  color: #111;
  letter-spacing: 0.6rem;
  font-weight: 400;
}

.titleText {
  padding: 0.5rem;
}

.titleText span {
  color: #ff0157;
  font-size: 6rem;
  font-weight: 900;
}

.iframe-container1,.iframe-container2,.iframe-container3,.iframe-container4,.iframe-container5 {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}

.iframe-container1 iframe,.iframe-container2 iframe,.iframe-container3 iframe,.iframe-container4 iframe,.iframe-container5 iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.portfolio-menu {
  text-align: center;
  margin-bottom: 2rem;
}

.portfolio-menu ul li {
  text-decoration: none;
  display: inline-block;
  margin: 7rem 0rem;
  font-size: 2rem;
  color: black;
  font-weight: 700;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: 0.5s ease;
  text-align: center;
}

.portfolio-menu ul li:hover {
  color: white;
  background: #ff0157;
  border-radius: 0.8rem;
}

.portfolio-menu ul li.active {
  color: white;
  background: #ff0157;
  border-radius: 0.8rem;
}

.portfolio-items .item {
  padding: 1.5rem;
  float: left;
  /* width: auto;
    height: 500rem; */
}

.portfolio-items .item img {
  /* width: 100%;
      height: 100%; */
  border-radius: 1rem;
  /* padding: 2rem; */
}


.detail {
  font-size: 1.5rem;
  padding: 3rem;
  letter-spacing: 0.1rem;
  color: rgb(167, 165, 165);
}

.about{
  padding-left: 2rem;
}
.row {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
}

.row .col50 {
  position: relative;
  width: auto;
}

.heading {
  color: #111;
  font-size: 4.5rem;
  font-weight: 700;
}

.heading span {
  color: #ff0157;
  font-size: 7rem;
  font-weight: 900;
}

.me {
  color: #ff0157;
  letter-spacing: 0.1rem;
  font-size: 5rem;
  font-weight: 900;
}

.row .col50 .imgbox {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-top: 10rem;
  padding:10rem;
}

.row .col50 .imgbox img {
  position: relative;
  width: auto;
  height: 40rem;
}

.col50 p {
  font-size: 1.7rem;
  color: #111;
  font-weight: 600;
  width: 80rem;
}

.cards {
  color: #ff0157;
}

.cards:hover {
  color: rgb(2, 52, 95);
}

footer {
  position: relative;
  bottom: 0rem;
  width: 100%;
  background: #111;
}

footer {
  overflow-y: hidden;
}
footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}



.sec h2 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #999;
  margin-left: 10rem;
  margin-top: 6rem;
}
.sec .details {
  margin: 2rem 0 0 0;
}

.phno,
.mail,
.myport {
  margin-left: 10rem;
}

.info .details p {
  text-align: justify;
  color: #999;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.7rem;
  font-weight: 600;
}

.info .details .social {
  margin: 2rem 0 0 0;
}

.info .details .social a {
  padding: 0 0.2rem;
}

.info .details .social a .icon .fa {
  height: 4rem;
  width: 4rem;
  background: #1a1a1a;
  line-height: 4rem;
  text-align: center;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  color: #999;
  transition: 0.3s;
}

.info .details .social a .icon .fa:hover {
  background: #ff0157;
}

.info .details .social a .icon .fa:hover {
  color: #fff;
}

.details .icons1 {
  background: #1d1d1d;
  line-height: 5rem;
  text-align: center;
  font-size: 1.8rem;
  border-radius: 1rem;
  color: #999;
  transition: 0.3s;
  padding: 1.2rem;
}

.details .icons2 {
  background: #1d1d1d;
  line-height: 5rem;
  text-align: center;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  color: #999;
  transition: 0.3s;
  padding: 1rem;
}

.phone,
.email {
  color: #999;
  padding: 1rem;
  font-size: 2rem;
  text-decoration: none;
}

.phone:hover {
  color: #ff0157;
}
.email:hover {
  color: #ff0157;
}

.edit {
  color: #ff0157;
  font-size: 2.4rem;
  font-weight: 900;
}

.myport {
  color: #999;
  font-size: 2rem;
  text-decoration: none;
  padding: 1rem;
}

.myport:hover {
  color: #ff0157;
}

.info .details .fp{
  font-size: 1.2rem;
}

hr.style-one {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

hr.style-one:after {
  content: "ยง";
  display: inline-block;
  position: relative;
  top: -0.7rem;
  font-size: 2rem;
  padding: 0 0.25rem;
  background: white;
}

.copyright {
  width: 100%;
  background: rgb(32, 32, 32);
  padding: 0.8rem 10rem;
  text-align: center;
}

.copyright p {
  color: #ff0157;
  font-size: 1.5rem;
}

.copyright .footer-name{
  color: #fff;
}


nav .links li a:hover {
  color: #ff0157;
}

